// text 

$base__font-size		: 16px;
$base__line-h				: 24px;


// Grid settings

$grid-col-width			: 75px;
$grid-gutter-width	: 15px;
$grid-col-count			: 12;
$grid-col-max-w			: 1050px;


// breakpoints

$breakpoint-sm			: 1px;
$breakpoint-md			: 500px;
$breakpoint-lg			: 768px;
$breakpoint-x-lg		: 1100px;
