
#home {
	color: $primary-bg-color;
	text-align: center;
	span {
		position: absolute;
		bottom: em(24px);
		font-size: em(24px);
		color: $primary-bg-color;
	}
	.panel {
		@include e(content) {
			position: relative;
			top: 0;
			@extend %max-height-width;
			.flexbox & {
				display: flex;
				flex-direction: column;
				justify-content: space-around;
			}
			.head-block {
				padding: em(16px);
				border: $primary-bg-color solid em(2px);
				width: 80%;
				@include mq(large) {
					width: 60%;
				}
				@include mq(x-large) {
					width: 35%;
				}
				h1 {
					font-size: em(32px);
					margin: 0;
					@include mq(large) {
						font-size: em(40px);
					}
				}
				h2 {
					font-size: em(24px);
					margin: 0;
				}
			}
		}
	}
}