
#home {
	color: $primary-bg-color;
	text-align: center;
	height: 100vh;
	span {
		position: absolute;
		bottom: calc(20% + 70px);
		font-size: em(24px);
		color: $primary-bg-color;
		.flexbox & {
			bottom: em(24px);
		}
	}
	.panel {
		@include e(content) {
			position: relative;
			top: 0;
			padding-top: 20%;
			padding-bottom: -20%;
			.flexbox & {
				padding: 0;
				@extend %flex-col-space-around;
			}
			@extend %max-height-width;
			.head-block {
				padding: em(16px);
				border: $primary-bg-color solid em(2px);
				width: 80%;
				@include mq(large) {
					width: 60%;
				}
				@include mq(x-large) {
					width: 35%;
				}
				h1 {
					font-size: em(32px);
					margin: 0;
					@include mq(large) {
						font-size: em(40px);
					}
				}
				h2 {
					font-size: em(24px);
					margin: 0;
				}
			}
		}
	}
}