#profile {
	background-color: $primary-bg-color;
	img {
		width: 30%;
		border-radius: 50%;
		float: right;
		margin: 0 15px 15px 0;
		.shapes & {
			shape-outside: circle();
		}
	}
	p {
		text-align: left;
	}
}