html,
body {
	box-sizing: border-box;
	@extend %max-height-width;
	color: $primary-color;
	font-family: 'alcubierreregular', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

button {
	border: none;
	outline: none;
	background-color: transparent;
	&:hover {
		color: $highlight-color;
	}
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: $primary-color;
	&:hover {
		color: $highlight-color;
	}
}