.main-wrapper {
	position: relative;
	z-index: 100;
	top: 0;
}



.panel {
	width: 100%;
	position: relative;
	@include e(content) {
		// .flexbox & {
		// 	display: flex;
		// 	flex-direction: column;
		// }
		height: 100%;
		position: relative;
		@include m(foot) {
			@extend %clearfix;
			width: 100%;
			// position: absolute;
			bottom: 0;
			text-align: center;
			padding: em(16px);
		}
	}
	&.fixed-bg {
		background-attachment: fixed;
	}
	.floating {
		z-index: 100;
	}
	@include e(background) {
		position: fixed;
		background-color: $primary-color;
	}
}

@each $bgImg in drops, brandon, wills, clifton {
	.panel__background--#{$bgImg} {
		background-image: url(../img/sm-#{$bgImg}.jpg);
		@include mq(large) {
			background-image: url(../img/#{$bgImg}.jpg);
		}
		@extend %backgrounds;
	}
}



