.main-wrapper {
	position: relative;
	z-index: 100;
	top: 0;
	width: 100%;
}



.panel {
	width: 100%;
	position: relative;
	@include e(content) {
		height: 100%;
		position: relative;
		@include m(foot) {
			@extend %clearfix;
			width: 100%;
			text-align: center;
		}
	}
	&.fixed-bg {
		background-attachment: fixed;
	}
	.floating {
		z-index: 100;
	}
	@include e(background) {
		position: fixed;
		background-color: $primary-color;

	}

}

@each $bgImg in drops, brandon, wills, clifton {
	.panel__background--#{$bgImg} {
		background-image: url(../img/backgrounds/sm-#{$bgImg}.jpg);
		@include mq(large) {
			background-image: url(../img/backgrounds/#{$bgImg}.jpg);
		}
		@extend %backgrounds;
	}
}



