#overlay__background{
	position: fixed;
	top: -50px;
	bottom: 0;
	width: 100%;
	height: calc(100vh + 100px);
	background-color: rgba($primary-color, 0.98);
	display: none;
	z-index: 2000;
}
#overlay {
	z-index: 2500;
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	color: $primary-bg-color;
	display: none;
	.close-holder {
		position: fixed;
		top: 0;
		background-color: $primary-color;
		height: 20px;
		width: 100%;
		margin-bottom: 36px;
		button {
			position: absolute;
			right: 0;
			width: auto;
		}
	}
	.overlay__content {
		margin-top: em(36px);
		.ajax-container {
			padding: em(32px) 0;
		}
		.spinner {
			height: 100vh;
			position: absolute;
			width: 100%;
			display: flex;
			justify-content: center;
			@include e(holder) {
				width: 48px;
				height: 48px;
				align-self: center;
				span { 
					display: block;
					font-size: em(48px);
					position: absolute;
					.cssanimations & {
						animation-duration: 1s;
						animation-name: rotating;
					  animation-iteration-count: infinite;
					  animation-timing-function: linear;
					}
				}
			}
		}
		h1 {
			margin: 0;
		}
		a {
				background-color: rgba($primary-bg-color, 0.7);
				border-radius: 8px;
				width: 40%;
				@include mq(medium) {
					width: 30%;
				}
				display: inline-block;
				text-align: center;
				font-size: 16px;
				line-height: 20px;
				padding: 6px;
				&:hover {
					background-color: $primary-bg-color;
				}
				&.inline {
					display: inline;
					text-decoration: underline;
					font-size: inherit;
					padding: 0;
					background-color: inherit;
					color: inherit;
					&:hover {
						color: $highlight-color;
					}
				}
			}
		.content {
			height: 100%;
			.flexbox & {
				@extend %flex-col-space-around;
				align-self: stretch;
			}

			img {
				display: block;
				height: auto;
				align-self: center;
				@extend .centered;
				width: 90%;
				@include mq(medium) {
					width: 50%;
				}
				@include mq(large) {
					width: 80%;
				}
				&.page--middle {
					align-self: center;
				}
			}
			.buttons {
				width: 100%;
				.flexbox & {
					display: flex;
					justify-content: space-around;
				}
			}
			blockquote {
				background-color: $primary-bg-color;
				color: $primary-color;
				padding: em(32px);
				border-radius: 8px;
				margin: em(24px) 0;
				width: 100%;
				p {
					font-size: em(14px);
				}
				span {
					height: 60px;
					font-size: 60px;
					font-family: times, serif;
					margin: 0;
					padding: 0;

					&.open-quote {
						margin: -16px 8px 8px 0;
						float: left;
					}
					&.close-quote {
						margin: -8px 0 0 8px;
						float: right;
					}
				}
			}
		}
	}
}

@keyframes rotating {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}