%backgrounds {
	@extend %max-height-width;
	background-color: rgba($primary-color, 0.6);
	position: relative;
	top: 0;
	left: 0;
	color: $primary-bg-color;
	.bgsizecover & {
		background-size: cover;
	}
	
	.backgroundblendmode &{
		background-blend-mode: soft-light;
	}
}

%flex-col-space-around {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

%flex-row-space-around {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

%flex-col-space-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

%dark-bg-light-txt {
	background-color: $primary-color;
	color: $primary-bg-color;
}
