
.side-nav {
	.js & {
		position: fixed;
		top: 0;
		height: 100%;
		width: 350px;
		z-index: 1000;
		background-color: rgba($primary-bg-color,.9);
		& .is-hidden-js {
			display: none;
		}
	}
	.csstransitions & {
		transition: left .6s;
	}
	.csscalc.csstransforms & {
		height: calc(100% + 200px);
		transform: rotate(3deg);
		top: -100px;
	}
	@include e(wrapper) {
		margin-top: 100px;
		padding-left: 50px;
		position: relative;
		nav {
			height: calc(100% - 140px);
			overflow: hidden;
			position: relative;
			top: 70px;
			ul {
				list-style: none;
				padding-left: 20px;
				height: 100%;
				position: absolute;
				left: 500px;
				.flexbox & {
					@extend %flex-col-space-around;
				}
				li {
					a{
						font-size: em(36px);
					}
				}
			}
		}
		.csscalc.csstransforms & {
			height: calc(100% - 200px);
			transform: rotate(-3deg);
		}
	}
	@include e(button) {
		position: absolute;
		top: 16px;
		right: 0;

	}
}
